#info.panel{:title => 'Info'}
  %h2= "Verb Conjugations Info Page"
  %p!= "This website is optimized for the <strong>iPhone navigator</strong>."
  %p!= "Insert an infinitive verb on the <strong>search form</strong> and push <strong>'Go'</strong>."
  %p!= "<i>Verb Conjugations</i> is a <strong>christmas present</strong> for a friend that wants to have the spanish verbs accessible from his iPhone."
  %p It could be helpful for you also :)
  %ul
    %li
      Author:
      %a.noLinkHack{:href => 'http://fernandoguillen.info'} Fernando Guillen
    %li
      Code:
      %a.noLinkHack{:href => 'http://github.com/fguillen/VerbConjugations'} Verb Conjugation's git code repository