<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Verb Conjugations</title>
  <link href="/stylesheets/iphonenav.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/fixing.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/iphonenav.js"></script>
</head>
<body>
  <h1 id="pageTitle"></h1>
  <a id="homeButton" class="button" href="#tenses"><%= params[:q]  if(!@results.nil? && !@results.empty?) %></a>
  <%= yield %>
</body>