!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
  %meta{:name => 'viewport', :content => 'width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;'}
  %meta['http-equiv' => 'content-type', :content= => 'text/html;charset=UTF-8']
  %title Verb Conjugations
  %link{:href => '/stylesheets/iphonenav.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => '/stylesheets/fixing.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %script{:type => 'text/javascript', :src => '/javascripts/iphonenav.js'}>

%body
  %h1#pageTitle 
  %a#infoButton.button.infoButton{:href => '#info'} info
  %a#homeButton.button{:href => '#tenses'}= params[:q]  if( !@results.nil? && !@results.empty? )
  %a.button{:href => '#searchForm'} Search  
  
  = yield
  
  = haml(:info, :layout => false)
  
  %script
    :plain
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      try {
      var pageTracker = _gat._getTracker("UA-12151852-1");
      pageTracker._trackPageview();
      } catch(err) {}