<a class="button" href="#searchForm">Search</a>
<div id="searchResults" class="panel" title="Not found" selected="true">
    <h2>Verb '<%= params[:q] %>' not found<h2>
</div>
<%= erb(:search_form, :layout => false) %>
