%ul#tenses{:title => params[:q], :selected => 'true'}
  - @results.map { |e| e[:tense] }.each do |tense|
    %li
      %a{:href => "##{tense.downcase.gsub(/[^a-z]/,'')}"}= tense
  
- @results.each do |result|
  %ul{:id => result[:tense].downcase.gsub(/[^a-z]/,''), :title => result[:tense]}
    - result[:conjugations].each do |conjugation|
      %li= conjugation
  
= haml(:search_form, :layout => false)
