body > ul > li > a {
    padding: 0px 32px 0px 0px;
    background: url(/images/iPhoneArrow.png) no-repeat right center;
}

body > ul > li {
  padding: 8px 0px 8px 8px;
  background: none;
}

.infoButton {
    display: none;
    left: 6px;
    right: auto;
    -webkit-border-image: url(/images/iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

#searchForm .infoButton {
  display: inline;
}